:root {  background-image: url(./Img/Fondo.jpg);
    font-family: 'Phudu', cursive;
    text-align: center; 
    --colortexto: #eeeeee;
    color: var(--colortexto);
    --colorfondobody: #eeeeee;
    --colorrow: #9fc5e8;
    --imagenfondo: url(./Img/Fondo.jpg);
}

.container-fluid {
    background-image: var(--imagenfondo);
    font-family: 'Phudu', cursive;     
    color: var(--colortexto); 
}

.body {
    background-color: var(--colorfondobody);    
}
.row{
    background-color:var(--colorrow);
    font-family: 'Tilt Neon', cursive;
    text-align: center;
    font-size: 1.1rem; 
    color: var(--colortexto);   
    
}
      
#piedepagina {
    background-image: var(--imagenfondo);
    color: var(--colortexto);
}
#nav427 {
    color: var(--colortexto);
}
#items {
    color: black;
}
.circular-square {
    border-radius: 50%;
}
