.container-fluid {
    background-image: url(./Img/Fondo.jpg);
}
.body {
    background-color: #eeeeee;
}
.row{
    background-color: #eeeeee;
}
      
#piedepagina {
    background-image: url(./Img/Fondo.jpg);
}